<div class="container">
  <form (ngSubmit)="saveClasse()" [formGroup]="classeCreateForm">
    <div class="form-group">
      <label for="nom">Nom de la classe :</label>
      <input class="form-control col-8" type="text" name="nom" id="nom" formControlName="nom" required placeholder="501">
    </div>
    
    <p *ngIf="getNomLvl().controls.length!=0">Les lvl de la classes</p>
    <div formArrayName="nomLvlListe">
      <div class="form-group" *ngFor="let lvlContorl of getNomLvl().controls; let i = index">
        <div class="form-group" >
          <label for="nom">Nom du lvl {{i+1}} :</label>
          <input class="form-control col-8" type="text" name="nom" id="nom" [formControlName]="i" required placeholder="Sid">
        </div>
      </div>
    </div>
    <div formArrayName="xpMaxLvlListe">
      <div class="form-group" *ngFor="let lvlContorl of getXpMaxLvl().controls; let j = index">
        <div class="form-group">
          <label for="xpMax">XP de fin du lvl {{j+1}} :</label>
          <input class="form-control col-8" numeric type="text" name="xpMax" id="xpMax" [formControlName]="j" required>
        </div>
      </div>
    </div>
    <div formArrayName="imageLvlListe">
      <div class="form-group" *ngFor="let lvlContorl of getImageLvl().controls; let k = index">
        <div class="form-group">
          <label for="image">Image du lvl {{k+1}} :</label><br>
          <input class="form-control col-8" type="text" name="image" id="image" [formControlName]="k" required>
        </div>
      </div>
      <button type="button" class="btn btn-success col-2" (click)="ajoutLvl()">Ajouter un lvl</button>
    </div>
    <br>
    <div *ngIf="getNomEleve().controls.length!=0">
      <p>Les élèves de la classe</p>
      <div id="enteteEleve">
        <div class="col-1"><p>   </p></div>
        <div class="col-3"><p>Nom</p></div>
        <div class="col-3"><p>Prénom</p></div>
      </div>
    </div>
    <div id="conteneurEleve">
      <div class="col-1">
        <div class="form-group" *ngFor="let eleveContorl of getNomEleve().controls; let n = index">
          <div class="form-group" style ="height: 2em;">
            <p>ELève {{n+1}} </p>
          </div>
        </div>
      </div>
      <div class="col-3" formArrayName="nomEleveListe">
        <div class="form-group" *ngFor="let eleveContorl of getNomEleve().controls; let l = index">
          <div class="form-group" style ="height: 2em;">
            <label for="nom"></label>
            <input  type="text" name="nom" id="nom" [formControlName]="l" required>
          </div>
        </div>
      </div>
      <div class="col-3"  formArrayName="prenomEleveListe">
        <div class="form-group" *ngFor="let eleveContorl of getPrenomEleve().controls; let m = index">
          <div class="form-group" style ="height: 2em;">
            <label for="prenom"></label>
            <input  type="text" name="prenom" id="prenom" [formControlName]="m" required>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button type="button" class="btn btn-success col-2" (click)="ajoutEleve()">Ajouter un élève</button>
    </div>
    <br>

    <div>
      <button class="btn btn-primary col-2" type="button" (click)="saveClasse()" [disabled]="classeCreateForm.invalid">Sauvegarder</button> 
    </div>
  </form>
</div>