<div class="container">
<table>
  <tr>
    <td></td>
    <td></td>
    <td>Niveau :</td>
    <!-- <td>{{eleveConnecte.lvl.niveau}}</td> -->
  </tr>
  <tr>
    <td colspan="2">{{eleveConnecte.nom}} {{eleveConnecte.prenom}}</td>
    <td>Classe :</td>
    <!-- <td>{{eleveConnecte.lvl.nom}}</td> -->
  </tr>
  <tr>
    <td></td>
    <!-- <td>{{eleveConnecte.classe.nom}}</td> -->
    <!-- <td>{{eleveConnecte.lvl.imageFichier}}</td> -->
    <td></td>
  </tr>
  <tr>
    <td>Compétence</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>S'approprier</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Analyser</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Réaliser</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Valider</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Communiquer</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Connaître</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Charisme</td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Moyenne</td>
    <td></td>
    <td>Total XP</td>
    <!-- <td>{{eleveConnecte.xp}}</td> -->
  </tr>
</table>
</div>

<div class="container"><button class="btn btn-primary" (click)="onRetour()">Retour</button></div>