<div class="container">
  <h2>Liste des classes</h2>
  <table>
    <tr>
      <th>Nom</th>
      <th>Dernier devoir</th>
    </tr>
    <tr>
      <td>CLasse 1</td>
      <td>nomenclature</td>
    </tr>
    <tr>
      <td>Classe 2</td>
      <td>equilibrage d'équation</td>
    </tr>
    <tr>
      <td>Classe 3</td>
      <td>tableau d'avencement</td>
    </tr>
  </table>
  </div>
  
  <div class="container"><button class="btn btn-primary" (click)="onNewClasse()">Ajouter une classe</button></div>
  
  <div class="container"><button class="btn btn-primary" (click)="onRetour()">Retour</button></div>